{
    "SANDBOX": true,
    "NODE_ENV": "",
    "POSTMEN_SANDBOX_URL": "",
    "POSTMEN_TEST_API_KEY": "",
    "SHIPPO_TEST_API_KEY": "",
    "POSTMEN_PROD_URL": "",
    "POSTMEN_PROD_API_KEY": "",
    "SHIPPO_URL": "",
    "SHIPPO_PROD_API_KEY": "",
    "AFTER_SHIP_TEST_API_KEY": "",
    "AFTER_SHIP_PROD_API_KEY": "",
    "AFTER_SHIP_URL": "",
    "SHIPPO_TEST_SHIPPER_ACCOUNT": "",
    "SHIPPER_ACCOUNT_ID": "",
    "SHIPPER_ACCOUNT_USERNAME": "",
    "SHIPPER_ACCOUNT_PASSWORD": "",
    "SHIPPER_ACCOUNT_ACC_NUMBER": 1111,
    "SHIPPER_MANIFEST_TEST_ID": ""
}