{
    "SANDBOX": true,
    "POSTMEN_TEST_API_KEY": "",
    "SHIPPO_TEST_API_KEY": "",
    "POSTMENT_PROD_API_KEY": "",
    "SHIPPO_PROD_API_KEY": "",
    "AFTER_SHIP_TEST_API_KEY": "",
    "AFTER_SHIP_PROD_API_KEY": "",
    "SHIPPO_TEST_SHIPPER_ACCOUNT": ""
}